body {
    margin-top: 1px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 8px;
}

h1 {
  margin:0px;
  padding:0px;
  font-size:2.5em;
  font-weight:normal;
  line-height:1.2;
  text-align:center;
}

label {
  color: #000000;
  font-size: 150%;
  font-family: 'Nobile', 16px/1.4 Helvetica, Arial, sans-serif;
  display: inline-block;
  font-style: italic;
  border-style: ridge;
  border-width: thin;
}

/*alternate change color so easier to distinguish*/
li:nth-child(even) {background: #CCC}
li:nth-child(odd) {background: #FFF}
ul.a{ }

/*Written by Nicholas Gallagher - http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css*/
.triangle-isosceles {
  position:relative;
  padding:10px;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
